.cell{
   aspect-ratio: 1;
   border: 1px solid white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bg-success{
   background-color: paleturquoise;
}

.bg-bomb{
   background-color: red;
}

#grid{
   width: 40%;
}

#result{
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(255, 106, 0, 0.95);
   padding: 1rem;
   border-radius: 1rem;
}

